@model IEnumerable<tniTestSite.Api.ConsumptionObjectReport.ConsumptionObjectViewModel>

@{
    ViewData["Title"] = "GetConsumptionObjects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Объекты потребления</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <ul>
                        <li>@Html.ActionLink("выбрать все счетчики с закончившимся сроком поверке.", "GetExpiredEnergyMeters", "Reports", new { сonsumptionObjectId = item.Id })</li>
                        <li>@Html.ActionLink("выбрать все трансформаторы напряжения с закончившимся сроком поверке.", "GetExpiredVoltageTransformer", "Reports", new { сonsumptionObjectId = item.Id })</li>
                        <li>@Html.ActionLink("выбрать все трансформаторы тока с закончившимся сроком поверке.", "GetExpiredPowerTransformator", "Reports", new { сonsumptionObjectId = item.Id })</li>
                    </ul>

                </td>
            </tr>
        }
    </tbody>
</table>
