@model IEnumerable<tniTestSite.Api.ConsumptionObjectReport.VoltageTransformerViewModel>

@{
    ViewData["Title"] = "GetExpiredVoltageTransformer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Трансформаторы напряжения с закончившимся сроком поверке.</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VoltageTransformerType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoltageTransformationRatio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VerificationDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VoltageTransformerType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VoltageTransformationRatio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VerificationDate)
                </td>
            </tr>
        }
    </tbody>
</table>
